{% extends 'base.html' %}

{% block title %}All courses{% endblock %}

{% block content %}
<table class="table mt-5 table-bordered table-stripped table-hover">
    <thead class="table-dark">
        <tr>
            <th>Title</th>
            <th>Category</th>
            <th>Price</th>
            <th>Students Quantity</th>
            <th></th>
        </tr>
    </thead>
    <tboby>
        {% for course in courses %}
        <tr>
            <td>
         <!--   <a href="{{ course.id }}">{{ course.title }}</a>    -->
                <a href={% url "shop:single_course" course.id %}>{{ course.title }}</a>
            </td>
            <td>{{ course.category }}</td>
            <td>{{ course.price }}</td>
            <td>{{ course.students_qty }}</td>
            <td><button class="btn btn-primary">Buy</button></td>
        </tr>
        {% endfor %}
    </tboby>
</table>
{% endblock %}